<%= form_for(@admin_event) do |f| %>
  <% if @admin_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_event.errors.count, "error") %> prohibited this admin_event from being saved:</h2>

      <ul>
      <% @admin_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date_from %>:
    <%#= f.datetime_select :date_from, :class => "form-control" %>
    <%= f.calendar_date_select "date_from", :time => true , :readonly=>true, :popup=>"force"  %>
  </div>
  <div class="form-group">
    <%= f.label :date_to %>:
    <%#= f.datetime_select :date_to, :class => "form-control" %>
    <%= f.calendar_date_select "date_to", :time => true , :readonly=>true, :popup=>"force"  %>
  </div>
  <div class="form-group">
    <p><%= f.label :description %></p>
    <%= f.cktext_area :descript %>
  </div>
  <div class="form-group">
    <%#= f.label :filename %>
    <%#= f.text_field :filename %>
  </div>
  <div class="form-group">
    <%= f.label :ticker %>: 
    <%= f.check_box :ticker %>
  </div>
  <div class="form-group">
    <%= f.label :admin_event_type_id %>:
    <%= f.collection_select :admin_event_type, Admin::EventType.all, :id, :name, {prompt: "Select an event"} %>
    <%#= f.text_field :admin_event_type_id, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
