<div class="well history-content">
<p id="notice"><%= notice %></p>
<h3>Events List
<p class="pull-right">
  <%= link_to 'Add New Event (+)', new_admin_event_path, :class=>"btn btn-default active" %>
</p>

</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Event type</th>
      <th>Registered <br> Participants </th>
      <th>Total <br> Participants </th>
      <th>Date from</th>
      <th>Date to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_events.each do |admin_event| %>
      <tr>
        <td><%= truncate(admin_event.name, :length => 50, :omission => '...') %></td>
        <td><%= admin_event.admin_event_type.name %></td>
        <td><%= link_to admin_event.user_registrations.size, user_list_admin_event_path(admin_event) %></td>
        <td>
		  <%= admin_event.user_registrations.sum(:no_of_places_or_people) %>	
			<%#= link_to admin_event.user_registrations.sum(:no_of_places_or_people), user_list_admin_event_path(admin_event) %>
		</td>
        <td><%= admin_event.date_from.strftime("%d/%m/%Y %I:%M %p") %></td>
        <td><%= admin_event.date_to.strftime("%d/%m/%Y %I:%M %p") %></td>
        <td><%= link_to 'Show', admin_event %></td>
        <td><%= link_to 'Edit', edit_admin_event_path(admin_event) %></td>
        <td><%= link_to 'Delete', admin_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
