<div class="well history-content">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_event.name %>
</p>
<p>
  <strong>Event type:</strong>
  <%= @admin_event.admin_event_type.name %>
</p>
<p>
  <strong>Descript:</strong>
  <%= @admin_event.descript.html_safe %>
</p>
<p>
  <strong>Display Registration button?:</strong>
  <%= @admin_event.registration ? "Yes" : "No" %>
</p>

<!--
<p>
  <strong>Filename:</strong>
  <%#= @admin_event.filename %>
</p>

<p>
  <strong>Ticker:</strong>
  <%= @admin_event.ticker %>
</p>
-->

<p>
  <strong>Date from:</strong>
  <%= @admin_event.date_from.strftime("%d/%m/%Y %I:%M %p") %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @admin_event.date_to.strftime("%d/%m/%Y %I:%M %p") %>
</p>
<p>
  <strong>Venue:</strong>
  <%= @admin_event.admin_venue.address %>
</p>
<%= link_to 'Edit', edit_admin_event_path(@admin_event) %> |
<%= link_to 'Back', admin_events_path %>
</div>
