<div class="well history-content">
<h3>
  Registered users for the event: <%= @admin_event.name %>
</h3>
<%= form_tag email_reminder_admin_event_path(@admin_event), method: :get do %>  
<div class="clearfix download-div">
  <span class="flt-right download"> <%= link_to "Download", registrations_admin_event_path(@admin_event) %> </span>
  <span class="flt-right">Total Participants: <%= @users.sum(:no_of_places_or_people) %> </span>
  <span class="flt-right">Registered Participants: <%= @users.size %> </span>

  <input type="button" id="btn" name="btn" value="email reminder" class="flt-right">
  
</div>
<p id="notice"><%= notice %></p>
<table class="table table-bordered">
  <thead>
    <tr>
	  <th><%= check_box_tag "send_email_all" %></th>	
      <th>Name</th>
      <th>Email</th>
      <th>Tel /Mobile No</th>
      <th>Number of people</th>
      <th colspan="2">Comments</th>
    </tr>
  </thead>

  <tbody class="find-body">
    <% @users.each do |user| %>
      <tr>
		<th><%= check_box_tag "send_email[]", user.email %></th>	  
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.tel_mobile_no %></td>
        <td style="width: 150px;"><%= user.no_of_places_or_people %></td>
        <td style="width: 350px;">
			  <%= user.comments %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>

<script type="text/javascript">
$('#send_email_all').change(function(){
  $("input:checkbox").prop('checked', $(this).prop("checked"));       
});

(function( $ ){
      $.fn.valList = function(){
            return $.map( this, function (elem) {
                  return elem.value || "";
            }).join( "," );
      };
      $.fn.idList = function(){
            return $.map( this, function (elem) {
                  return elem.id || "";
            }).join( "," );
      };
})( jQuery );


 $('#btn').click(function(){
    if ($("input").is(':checked')){
	    $( "form" ).submit();
    }else{
      alert("Please select atleast one checkbox!");
    }  
  });

</script>
