<%= form_for([object, object.comments.build]) do |f| %>
  <% if !flash[:warning].blank? %>
    <div class="alert alert-danger"> <%= flash[:warning] %></div>
  <% end %> 
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :commenter, :class => "form-control", :placeholder => "Name" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
  </div>
  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_area :body, :class => "form-control", :rows => "3", :placeholder => "Comment..." %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>

