<div class="well history-content">
<%= link_to 'Back', admin_articles_path %>
<div class="form-group">
<h2 class="well-h2">
  <%= @article.title %>
</h2>
</div>

<div class="form-group clearfix">
  <strong>Content:</strong>
  <%= @article.content.html_safe %>
</div>

<div class="form-group">
  <strong>Published:</strong>
  <%=  is_published(@article.published) %>
</div>

<!--
<div class="form-group">
  <strong>Published at:</strong>
  <%#= @article.published_at.strftime("%d/%m/%Y %I:%M %p") %>
</div>
-->

<div class="clearfix">
<h3>View Comments (<%= @article.comments.count %>)</h3>
<% unless flash[:delete_notice].blank? %>
<div class="alert alert-danger"><%= flash[:delete_notice] %></div>
<% end %>
<%= render @article.comments %> 
</div>
</div>
