<div class="well history-content">
  <h2 class="well-h2 newsletter-header"> Newsletter 2016 </h2>
  <div class="flipbook">
	<div ignore="1" class="next-button next-button-hover"></div>
	<div class="hard first">
	  <%= image_tag("newsletters/2016/18.jpg", :style => "height:67%") %>
	  <br/>
	  <%= image_tag("newsletters/2016/19.jpg", :style => "height:30%") %>
	</div>
	<div class="hard">
	  <%= image_tag("newsletters/2016/20.jpg") %>
	  <br/>
	  <%= image_tag("newsletters/2016/21.jpg") %>
	</div>
	<div class="hard"><%= image_tag("newsletters/2016/1.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/2.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/3.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/4.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/5.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/6.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/7.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/8.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/9.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/10.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/11.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/12.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/13.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/14.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/15.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/16.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2016/17.jpg") %></div>
	<div class="hard last">End of Newsletter</div>
	<div ignore="1" class="previous-button"></div>
  </div>
<script type="text/javascript">
	$(".flipbook").turn({
		autoCenter: true
	});
	
	// Events for the next button

	$('.next-button').bind($.mouseEvents.over, function() {
		
		$(this).addClass('next-button-hover');

	}).bind($.mouseEvents.out, function() {
		
		$(this).removeClass('next-button-hover');

	}).bind($.mouseEvents.down, function() {
		
		$(this).addClass('next-button-down');

	}).bind($.mouseEvents.up, function() {
		
		$(this).removeClass('next-button-down');

	}).click(function() {
		
		$('.flipbook').turn('next');

	});

	// Events for the next button
	
	$('.previous-button').bind($.mouseEvents.over, function() {
		
		$(this).addClass('previous-button-hover');

	}).bind($.mouseEvents.out, function() {
		
		$(this).removeClass('previous-button-hover');

	}).bind($.mouseEvents.down, function() {
		
		$(this).addClass('previous-button-down');

	}).bind($.mouseEvents.up, function() {
		
		$(this).removeClass('previous-button-down');

	}).click(function() {
		
		$('.flipbook').turn('previous');

	});
	
</script>
</div>
