<div class="well history-content">
  <h2 class="well-h2 newsletter-header"> Newsletter <%= @newsletter.title %> </h2>
  <div class="flipbook ">
	<div ignore="1" class="next-button next-button-hover"></div>
	<%= render partial: 'pictures', collection: @pictures %>
	<!--
	<div class="hard first"><%= image_tag("newsletters/2015/1.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/1.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/2.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/3.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/4.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/5.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/6.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/7.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/8.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/9.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/10.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/11.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/12.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/13.jpg") %></div>
	<div class="hard"><%= image_tag("newsletters/2015/14.jpg") %></div>	
	<div class="hard last">End of Newsletter</div>
	-->	
	<div ignore="1" class="previous-button"></div>
  </div>
<script type="text/javascript">
	$(".flipbook").turn({
		autoCenter: true
	});
	
	// Events for the next button

	$('.next-button').bind($.mouseEvents.over, function() {
		
		$(this).addClass('next-button-hover');

	}).bind($.mouseEvents.out, function() {
		
		$(this).removeClass('next-button-hover');

	}).bind($.mouseEvents.down, function() {
		
		$(this).addClass('next-button-down');

	}).bind($.mouseEvents.up, function() {
		
		$(this).removeClass('next-button-down');

	}).click(function() {
		
		$('.flipbook').turn('next');

	});

	// Events for the next button
	
	$('.previous-button').bind($.mouseEvents.over, function() {
		
		$(this).addClass('previous-button-hover');

	}).bind($.mouseEvents.out, function() {
		
		$(this).removeClass('previous-button-hover');

	}).bind($.mouseEvents.down, function() {
		
		$(this).addClass('previous-button-down');

	}).bind($.mouseEvents.up, function() {
		
		$(this).removeClass('previous-button-down');

	}).click(function() {
		
		$('.flipbook').turn('previous');

	});
	
</script>
</div>
