<div class="well history-content">
  <% @courses.each do |course| %>
<div class="calfirst">
<span class="number"><%= course.date_from.strftime("%d")%></span>
<span class="month"><%= course.date_from.strftime("%b")%></span>
</div>
<div class="form-group clearfix">
  <h2 class="events-title">
    <%= course.name %>
    <p class="event-date"><%= course.date_from.strftime("%m/%d/%Y")%></p>
  </h2>
  <div class="clearfix">
    <%= course.descript.html_safe %>
  </div>
  <p class="pull-right">
    <%= link_to "Click here to register", new_user_registration_path(course: course), :class=>"btn btn-default btn-lg active" %>
  </p>
</div>
<hr/>
  <% end %>
</div>
