<div class="well history-content calendar-margin">
<%= month_calendar attribute: :date_from, events: @events do |date, meetings| %>
  <%= date.strftime("%-d") %>

  <% meetings.each do |meeting| %>
    <div class="mytooltip user" >
      <%if meeting.date_from >= DateTime.now.to_date %>
        <%= link_to truncate(meeting.name, :length => 25, :omission => '...'), events_events_calendar_event_path({event_id: meeting.id}) %>
      <%else%>
        <%= truncate(meeting.name, :length => 25, :omission => '...') %>
      <%end%>
    </div>
    <div class='popup'><%= meeting.name %></div>
  <% end %>
<% end %>
<span><i><sup>*</sup> Only for BK Rajayoga students</i></span>
</div>
