<div class="well history-content">
<% unless @lectures.blank? %>
  <% @lectures.each do |lecture| %>
<div class="calfirst">
<span class="number"><%= lecture.date_from.strftime("%d")%></span>
<span class="month"><%= lecture.date_from.strftime("%b")%></span>
</div>
<div class="form-group clearfix">
  <h2 class="events-title">
    <%= lecture.name %>
    <p class="event-date"><%= lecture.date_from.strftime("%m/%d/%Y")%></p>
  </h2>
  <div class="clearfix">
    <%= lecture.descript.html_safe %>
  </div>
  <p class="pull-right">
    <%= link_to "Click here to register", new_user_registration_path(register: lecture), :class=>"btn btn-default btn-lg active" %>
  </p>
</div>
<hr/>
  <% end %>
  <% else %>
   <p>No Lectures found</p>
  <% end %>
</div>
