<div class="well history-content">
<%= link_to 'Back', admin_experiences_path %>
<p id="notice"><%= notice %></p>
<div class="form-group">
  <h2 class="well-h2">
    <%= @experience.title %>
  </h2>
</div>

<div class="form-group clearfix">
  <strong>Content:</strong>
  <%= @experience.content.html_safe %>
</div>

<div class="form-group">
  <strong>Is Published?:</strong>
  <%= @experience.published %>
</div>

<div class="form-group">
  <strong>Published at:</strong>
  <%= @experience.published_at.strftime("%m/%d/%Y %I:%M %p") %>
</div>

<div class="clearfix">
  <h3>View Comments (<%= @experience.comments.count %>)</h3>
  <%= render @experience.comments %> 
</div>

</div>
