<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brahma Kumaris Singapore Official Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'shiv1.png' %>
</head>
<body>
<div class="container admin">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header bk-header-sg">
  <%= image_tag("header/banner-2.jpg", alt: "Brahmakumaris Singapore Header") %>				
			</div>
                 </div>
                 <div class="col-md-12 column"> 
			<ul class="nav nav-pills navbar-inverse">
				<li class="<%= menu_active('event_types') %>">
					<a href="/admin/event_types">Event Types</a>
				</li>
				<li class="<%= menu_active('events') %>">
					<a href="/admin/events">Manage Events</a>
				</li>
				<li class="<%= menu_active('articles') %>">
					<a href="/admin/articles">Gallery</a>
				</li>
				<li class="<%= menu_active('experiences') %>">
					<a href="/admin/experiences">Experiences & Sharing</a>
				</li>
				<li class="<%= menu_active('venues') %>">
					<a href="/admin/venues">Venues</a>
				</li>
				<li class="<%= menu_active('photos') %>">
								<a href="/admin/photos">Carousel</a>
				</li>
				<li class="<%= menu_active('mini_carousels') %>">
					<a href="/admin/mini_carousels">Mini Carousel</a>
				</li>
				<li class="<%= menu_active('newsletters') %>">
					<a href="/admin/newsletters">Newsletters</a>
				</li>				
				<li class="<%= menu_active('mailing_users') %>">
								<a href="/admin/mailing_users">Mailing List</a>
				</li>
				<li style="float:right">
				  <% if current_user %>
            <span style="color:#fff"> Signed in as <%= current_user.name %> |</span> <%= link_to "Logout", '/logout', {:style => 'display:inline-block'} %>
          <% else %>
            <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
          <% end %>

				</li>

			</ul>			
			<div class="row clearfix content-top">
				<div class="col-md-12 column">
				  <%= yield %>								
				</div>
				
			</div>
			<div class="page-footer">
				<div class="copyright">
					© Copyright 2015 Brahma Kumaris World Spiritual Organization
				</div>
				<div class="footer-links">
				   <a href="http://www.bkwsu.org/singapore"> Link To Us</a> &nbsp; | &nbsp;
				   <a href="sitemap.html">Site Map</a> &nbsp; | &nbsp;
				   <a href="faq.html"> FAQ </a> &nbsp; | &nbsp;
				   <a href="feedback.html">Feedback</a> &nbsp; | &nbsp;
				   <a href="#">Facebook</a> &nbsp; | &nbsp;
				   <a href="#">Youtube</a> &nbsp; | &nbsp;
				   <a href="#">Twitter</a> &nbsp; | &nbsp;
				   <a href="#">RSS</a>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>
