<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brahma Kumaris Singapore Official Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'shiv1.png' %>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header bk-header-sg">

			  <%= image_tag("header/banner-1.jpg", alt: "Brahmakumaris Singapore Header") %>
			</div>
			<ul class="nav nav-pills navbar-inverse">
				<li class="<%= menu_active('home') %>">
				  <%= link_to "Home", home_index_path %>	
				</li>
				<li class="dropdown <%= menu_active('about_us') %>">
					
					<a href="/about_us/index" data-toggle="dropdown" class="dropdown-toggle">About Us<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/about_us/history">History</a>
						</li>
						<li>
							<a href="/about_us/founder">Founder</a>
						</li>
						<li>
							<a href="/about_us/leaders">Spiritual Leaders</a>
						</li>
						<li>
							<a href="/about_us/experiences">Rajayoga Meditation</a>
						</li>						
					</ul>					
				</li>
				<li class="dropdown <%= menu_active('events') %>">
					
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">Events<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/events/events_calendar">Events Calendar</a>
						</li>
						<li>
							<a href="/events/all">All Activities</a>
						</li>
						<li>
							<a href="/events/courses">Courses</a>
						</li>
						<li>
							<a href="/events/local_activities">Local Activities</a>
						</li>
						<li>
							<a href="/events/lectures">Lectures</a>
						</li>
						<li>
							<a href="/events/workshops">Workshops</a>
						</li>
						<li>
							<a href="/events/seminars">Seminars</a>
						</li>
					</ul>						
				</li>

				<li class="<%= menu_active('articles') %>">
					<a href="/articles">News & Media</a>
				</li>
				<li class="<%= menu_active('experiences') %>">
					<a href="/experiences">Experiences & Sharing</a>
				</li>
				<li class="dropdown <%= menu_active('contact_us') %>">					
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">Contact Us<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/contact_us/local">Local Contact</a>
						</li>
						<li>
							<a href="/contact_us/head_quaters">Head Quaters</a>
						</li>
						<li>
							<a href="/contact_us/internation">International Links</a>
						</li>
					</ul>						
				</li>				
			</ul>

			<div class="row clearfix content-top">
				<div class="col-md-8 column">
				  <%= yield %>								
				</div>
				<div class="col-md-4 column">
					<div class="list-group">
						<a href="http://www.bkrajayoga.com/demo/email_customer.php" target="_blank" class="list-group-item sg-side-bar">Join our mailing list</a>
						<a href="http://www.brahmakumaris.org/uk/thoughts" target="_blank" class="list-group-item sg-side-bar">Thought of the day</a>
						<a href="/about_us/meditation" class="list-group-item sg-side-bar">Meditation</a>
						<a href="http://www.the-yoga-shop.com" target="_blank" class="list-group-item sg-side-bar">Yoga Shop</a>
						<a href="#" class="list-group-item sg-side-bar">Newsletter</a>
					</div>
					
<% @event_types.each do |event_type|%>
	<a class="list-group-item active"><%= event_type.name %></a>
 <% events = Admin::Event.where(admin_event_type_id: event_type) %>
 <% unless events.blank? %>
  <% events.each do |event|%>
	<div class="list-group-item">
	<p><strong><%= event.name %></strong></p> 
	<p><strong>Start Date :</strong> <%= event.date_from.strftime("%m/%d/%Y") %> - <strong>End Date :</strong> <%= event.date_to.strftime("%m/%d/%Y") %></p>  
	<p><strong>Start Time :</strong> <%= event.date_from.strftime("%I:%M %p") %> - <strong>End Time :</strong> <%= event.date_from.strftime("%I:%M %p") %></p>
	</div>
  <% end %>
  <% else %>
    <div class="list-group-item">
      <p>Not Available</p> 
    </div>
  <% end %>
<% end %>
					</div>					
				
				</div>
			</div>
			<div class="page-footer">
				<div class="copyright">
					© Copyright 2015 Brahma Kumaris World Spiritual Organization
				</div>
				<div class="footer-links">
				   <a href="http://www.bkwsu.org/singapore"> Link To Us</a> &nbsp; | &nbsp;
				   <a href="sitemap.html">Site Map</a> &nbsp; | &nbsp;
				   <a href="faq.html"> FAQ </a> &nbsp; | &nbsp;
				   <a href="feedback.html">Feedback</a> &nbsp; | &nbsp;
				   <a href="#">Facebook</a> &nbsp; | &nbsp;
				   <a href="#">Youtube</a> &nbsp; | &nbsp;
				   <a href="#">Twitter</a> &nbsp; | &nbsp;
				   <a href="#">RSS</a>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>
