<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brahma Kumaris Singapore Official Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Peace, Happiness, Positive thinking, Raja Yoga, Rajayoga, meditation, workshop, Retreats, stress management, Brahma Kumaris, God, Light, Divine, Soul, Soul consciousness, self awareness, Spirit, Purity, Truth, Self Respect, Faith, Open Eye meditation, King off all yoga, unwanted habits, contentment, Supreme, virtues, self respect, serene, Stable, power, Soul Conscious">
  <meta name="description" content="Method of meditation that you can do anywhere – most need to be at peace.">
  <meta name="author" content="Brahma Kumaris">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <%= stylesheet_link_tag 'application', media: 'all' %>  
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'shiv2.png' %>
</head>
<body>
  <div class="container">
	<div class="row clearfix">
	  <div class="col-md-12 column sg-header">
        <div class="banner-header-nav">
          <%= render partial: 'layouts/contact_us_header' %>                    
		      <%= render partial: 'layouts/nav_bar' %>                          
        </div>
      </div>
     <div class="col-md-12 column sg-body">
	   <%#= render partial: 'layouts/carousel', object: @photos %>	  
     <%= render partial: 'layouts/carousel', object: @photos, as: 'mini_carousels' %> 
	   <div class="row clearfix content-top">
	     <%= render partial: 'layouts/yield_layout' %>  	   
		 <%= render partial: 'layouts/side_bar', object: @event_types %>	  
	   </div>
	 </div>
	 <div class="page-footer">
	   <%= render partial: 'layouts/footer' %> 	 
	 </div>
	</div>
  </div>
</div>
</body>
</html>
