<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brahma Kumaris Singapore Official Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>  
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<link rel="stylesheet" media="all" href="/assets/bootstrap.min.self-a9926965e98f4d7ae385339e8b186ea40ecc5bc54adc3a8ff092eb1ecea8a1d9.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/fullcalendar.self-bc87a085eab9aece8303c1331da00cc8ac597f1127199fe59c1a601fa1891c1b.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/scaffolds.self-0ed2b8325b44d51de42c1a99b35b175ecc125d2977bdb332a40ef6bed3bf8c7b.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/style.self-8d7bae47d34297184d7562851b66953d722d5381229a1b7dd129228ca4555974.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/application.self-2e5577ec1f41e3917988862e4f8efcbe788eebb399b47b68193d04c4451839fc.css?body=1" data-turbolinks-track="true" />  


  <script src="/assets/jquery.self-d03a5518f45df77341bdbe6201ba3bfa547ebba8ed64f0ea56bfa5f96ea7c074.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/jquery_ujs.self-ca5248a2fad13d6bd58ea121318d642f195f0b2dd818b30615f785ff365e8d1f.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/turbolinks.self-c37727e9bd6b2735da5c311aa83fead54ed0be6cc8bd9a65309e9c5abe2cbfff.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap.min.self-e91820762bfc4edac73f6a957000774c4f05049c82ea714d36478d46b92c8cc8.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/fullcalendar.min.self-e39f76924374cdf5cb94b65f03f6a18ada09abf678d4cc25cade798fb51531af.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/html5shiv.self-cee725fb18f8d3b0388afe72e9d5552615390f4a16113a5f5d9af7a2d84390e7.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap-datetimepicker.self-6ead78beb12f0003df8dd07cb3ab3543d2573653caf0ee0d4fda4da49532f128.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/pickers.self-14e4603dfad235a886231a39de786bcf942ff4faae5f61feedc07da16c18af58.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/fullcalendar.self-8668c2e6be32331fb05b9c8cb047adeb64ae3d0575ba9d2f029b9a4cb37ec3f5.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/application.self-50d2a7a00c84f0debdfbbfcc6449b0109163140b8817ea50f2d5e8feaa81d1b4.js?body=1" data-turbolinks-track="true"></script>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'shiv1.png' %>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header bk-header-sg">

			  <%= image_tag("header/banner-1.jpg", alt: "Brahmakumaris Singapore Header") %>
			</div>
			<ul class="nav nav-pills navbar-inverse">
				<li class="<%= menu_active('home') %>">
				  <%= link_to "Home", home_index_path %>	
				</li>
				<li class="dropdown <%= menu_active('about_us') %>">
					
					<a href="/about_us/index" data-toggle="dropdown" class="dropdown-toggle">About Us<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/about_us/history">History</a>
						</li>
						<li>
							<a href="/about_us/founder">Founder</a>
						</li>
						<li>
							<a href="/about_us/leaders">Spiritual Leaders</a>
						</li>
						<li>
							<a href="/about_us/experiences">Rajayoga Meditation</a>
						</li>						
					</ul>					
				</li>
				<li class="dropdown <%= menu_active('events') %>">
					
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">Events<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/events/events_calendar">Events Calendar</a>
						</li>
						<li>
							<a href="/events/all">All Activities</a>
						</li>
						<li>
							<a href="/events/courses">Courses</a>
						</li>
						<li>
							<a href="/events/local_activities">Local Activities</a>
						</li>
						<li>
							<a href="/events/lectures">Lectures</a>
						</li>
						<li>
							<a href="/events/workshops">Workshops</a>
						</li>
						<li>
							<a href="/events/seminars">Seminars</a>
						</li>
					</ul>						
				</li>

				<li class="<%= menu_active('articles') %>">
					<a href="/articles">News & Media</a>
				</li>
				<li class="<%= menu_active('experiences') %>">
					<a href="/experiences">Experiences & Sharing</a>
				</li>
				<li class="dropdown <%= menu_active('contact_us') %>">					
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">Contact Us<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/contact_us/local">Local Contact</a>
						</li>
						<li>
							<a href="/contact_us/head_quaters">Head Quaters</a>
						</li>
						<li>
							<a href="/contact_us/internation">International Links</a>
						</li>
					</ul>						
				</li>				
			</ul>

			<div class="row clearfix content-top">
				<div class="col-md-8 column">
				  <%= yield %>								
				</div>
				<div class="col-md-4 column">
					<div class="list-group">
						<a href="http://www.bkrajayoga.com/demo/email_customer.php" target="_blank" class="list-group-item sg-side-bar">Join our mailing list</a>
						<a href="http://www.brahmakumaris.org/uk/thoughts" target="_blank" class="list-group-item sg-side-bar">Thought of the day</a>
						<a href="/about_us/meditation" class="list-group-item sg-side-bar">Meditation</a>
						<a href="http://www.the-yoga-shop.com" target="_blank" class="list-group-item sg-side-bar">Yoga Shop</a>
						<a href="#" class="list-group-item sg-side-bar">Newsletter</a>
					</div>
					
<% @event_types.each do |event_type|%>
	<a class="list-group-item active"><%= event_type.name %></a>
 <% events = Admin::Event.where(admin_event_type_id: event_type) %>
 <% unless events.blank? %>
  <% events.each do |event|%>
	<div class="list-group-item">
	<p><strong><%= event.name %></strong></p> 
	<p><strong>Start Date :</strong> <%= event.date_from.strftime("%m/%d/%Y") %> - <strong>End Date :</strong> <%= event.date_to.strftime("%m/%d/%Y") %></p>  
	<p><strong>Start Time :</strong> <%= event.date_from.strftime("%I:%M %p") %> - <strong>End Time :</strong> <%= event.date_from.strftime("%I:%M %p") %></p>
	</div>
  <% end %>
  <% else %>
    <div class="list-group-item">
      <p>Not Available</p> 
    </div>
  <% end %>
<% end %>
					</div>					
				
				</div>
			</div>
			<div class="page-footer">
				<div class="copyright">
					© Copyright 2015 Brahma Kumaris World Spiritual Organization
				</div>
				<div class="footer-links">
				   <a href="http://www.bkwsu.org/singapore"> Link To Us</a> &nbsp; | &nbsp;
				   <a href="sitemap.html">Site Map</a> &nbsp; | &nbsp;
				   <a href="faq.html"> FAQ </a> &nbsp; | &nbsp;
				   <a href="feedback.html">Feedback</a> &nbsp; | &nbsp;
				   <a href="#">Facebook</a> &nbsp; | &nbsp;
				   <a href="#">Youtube</a> &nbsp; | &nbsp;
				   <a href="#">Twitter</a> &nbsp; | &nbsp;
				   <a href="#">RSS</a>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>
